:root {
    --sand: #FBEEC1;
    --white: #ffffff;
    --orange: #F97B22;
    --dark_orange: #D25F0E;
    --green: #9CA777;
    --dark-green: #7C9070;
    --brown: #250F0F;
}



body {
    margin: 0;
    padding: 0;
    color: var(--brown);
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background: var(--sand);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    box-shadow: 0px 4px 63px 27px rgba(0, 0, 0, 0.25);
}



.button {
    border-radius: 25px;
    border: 5px solid var(--dark_orange);
    padding: 10px 30px;
    background: var(--orange);
    width: 100px;
    height: 20px;
    text-align: center;
}

header .button{
    margin-right: -20px;
}

.button a {
    text-decoration: none;
    color: var(--white);

}

.button:hover {
    border: 5px solid var(--dark-green);
    background: var(--green);
    transition: 0.3s ease;

}

.nav_list {
    list-style: none;
    display: none;
    text-align: center;
    font-size: 18px;
    padding: 0;

}

.nav_list li a {
    margin-left: 15px;
    font-style: italic;
    text-decoration: none;
    color: var(--brown);
}

.nav_list li:nth-child(1) {
    margin-left: 0px;
}

.mobile_list {
    margin-top: 50px;
    position: absolute;
    display: flex;
    width: 100%;
    background-color: var(--sand);
    margin-left: -30px;
    text-align: center;
    font-size: 26px;
    flex-direction: column;
    padding-top: 20px;

}

.mobile_list li {
    padding-right: 0px;
    padding-bottom: 16px;
    text-decoration: none;
}

.mobile_list li a {
    padding-right: 0px;
    text-decoration: none;
}



.line {
    width: 30px;
    height: 5px;
    background-color: var(--brown);
    border-radius: 5px;
    margin-top: 5px;
    transition: 0.3s ease-out;
}

.line:nth-child(1) {
    margin: 0;
}



.cross .line:nth-child(1) {
    transform: rotate(45deg);
}

.cross .line:nth-child(2) {
    display: none;
}

.cross .line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -8px);
}

.main {
    padding-top: 100px;
}

/*  */

.main,
section .button {
    margin-left: 30px;
}

.header {
    color: #D25F0E;
    font-family: Jacques Francois Shadow;
    font-size: 60px;
    font-family: 'Jacques Francois Shadow', serif;
    font-weight: 400;
}

.right {
    margin-left: 100px;
    margin-top: -50px;
}

.slogan {
    font-family: 'Hi Melody', sans-serif;
    font-size: 40px;
    width: 300px;
    font-weight: 400;
}

.giraffe {
    margin-left: 10%;
    width: 90%;
    height: 50%;
}

.gray_p {
    color: #6F6F6F;
    width: 200px;
    font-size: 18px;
    margin-right: 20px;
    text-align: right;
    float: right;
}

/*  */
.about {
    margin: 100px 30px 0 30px;
    text-align: justify;
}

.about h3 {
    text-align: center;
}

.about img {
    float: left;
    width: 400px;
    margin-right: 50px;
}


/*  */

.activities {
    background-color: var(--green);
    margin: 80px 10%;
    padding: 10px 30px;
}

.activities .header {
    font-size: 48px;
}

.activities ul li,
.activities p {
    font-size: 20px;
}

.activities ul li span {
    font-weight: bold;
}

.activities .button {
    margin: 30px auto;
}
/*  */
.center {
    text-align: center;
}

.news-img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    margin: auto;
}



.news-item {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 300px;
    text-align: justify;
    box-shadow: 0px 15px 15px 10px rgba(0, 0, 0, 0.25);
    margin: 30px 30px;
}

.news{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tag{
    clip-path: polygon(100% 0, 0 100%, 0 0);
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: var(--dark-green);
    color: #ffffff;
    font-size:  24px;
}

.tag p{
    transform: rotate(-45deg);
}

/*  */


.faq-item{
    width: 80%;
    min-height: 60px;
    border-radius: 25px;
    background-color: var(--dark-green);
    font-family: Hi Melody;
    margin: 10px auto;
    align-items: center;
}
.faq-header{
    display: flex;
    justify-content: space-between;
} 

.faq-text{
    display: none;
    padding: 0 0 10px 20px;
    font-size: 20px;
    margin-top: -10px;
}

.faq-item:nth-child(2){
    background-color: var(--green);
}

.faq-item:nth-child(3){
    background-color: var(--sand);

}

.faq-item h3{
    font-size: 32px;
    padding-left: 30px;
}

.circle{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: var(--sand);
    margin-right: 20px;
    text-align: center;
    font-size: 36px;
    margin-top: 25px;
}

.second{
    background-color: var(--dark-green);
    color: var(--sand);
}
.third{
    background-color: var(--green);
}

/*  */

.slider-wrapper {
    margin: 50px 10%;
    position: relative;
    overflow: hidden;
  }
  
  .slides-container {
    height: calc(100vh - 5rem);
    width: 100%;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
  }
  
  .slide-arrow:hover,
  .slide-arrow:focus {
    opacity: 1;
  }
  
  #slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
  }
  
  #slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    text-align: center;
    padding-top: 10px;
    color: #ffffff;
    font-size: 24px;
    box-shadow: 0px 77px 50px -25px rgba(0, 0, 0, 0.50) inset;
  }
  
  .slide:nth-child(1) {
    background-image: url(./images/Rectangle\ 6.png);
    background-size: cover;
  
  }
  
  .slide:nth-child(2) {
    background-image: url(./images/penguin.jpg);
    background-size: cover;
  }
  
  .slide:nth-child(3) {
    background-image: url(./images/Carousel.jpg);
    background-size: cover;
    background-position: center;
  }

/*  */
footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--sand);
    padding: 10px 10%;
    align-items: center;
}

footer ul{
    list-style: none;
    padding: 0;
}
/* desktop version */
@media screen and (min-width: 800px) {

    .nav_list {
        list-style: none;
        display: flex;
        position: relative;
        width: 100%;
        background-color: transparent;
        margin-left: 0;
        flex-direction: row;
    }

    .hide {
        display: flex;
    }

    .burger_menu,
    .cross {
        display: none;
        ;
    }

    .nav_list li a {
        padding-right: 15px;
        font-style: italic;
        font-size: 18px;
        text-decoration: none;
        color: var(--brown);
    }

    .header {
        font-size: 60px;
    }

    .slogan {
        font-family: 'Hi Melody', sans-serif;
        font-size: 38px;
        width: 300px;
        font-weight: 400;
    }

    .giraffe {
        margin-left: 50%;
        top: 200px;
        width: 50%;
        height: 70%;
        position: absolute;
    }

    .gray_p {
        float: none;
        margin-bottom: 30px;
        font-size: 21px;
        margin-left: 100px;
        width: 300px;
    }

    .main,
    section .button {
        margin-left: 50px;
    }

    .about {
        margin: 100px 130px 0 130px;
    }

    .about img {
        float: left;
        width: 250px;
        margin-right: 50px;
    }

}

@media screen and (min-width: 1100px) {

    .giraffe {
        margin-left: 45%;
        top: 150px;
        width: 55%;
        height: 85%;
        position: absolute;
    }

    .header {
        font-size: 74px;
    }

    .right {
        margin-left: 120px;
        margin-top: -80px;
    }

    .slogan {

        font-size: 40px;
        width: 400px;
    }

    .gray_p {
        margin: 50px 0;
        font-size: 21px;
        margin-left: 100px;
        width: 300px;
    }

    section .button {
        margin-left: 200px;
        margin-top: 50px;
    }

}

.hide {
    display: none;
}
.show{
    display: flex;
}