:root {
    --sand: #FBEEC1;
    --white: #ffffff;
    --orange: #F97B22;
    --dark_orange:#D25F0E;
    --green: #9CA777;
    --dark-green: #7C9070;
    --brown:#250F0F;
  }



body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}


header{
    display: flex;
    justify-content: space-between;
align-items: center;
padding: 10px 30px;
background: var(--sand);

box-shadow: 0px 4px 63px 27px rgba(0, 0, 0, 0.25);
}

.logo{
    transform:  scaleX(-1);
}

.button{
display: none;
    border-radius: 25px;
border: 5px solid var(--dark_orange);
padding: 10px 30px;
background: var(--orange);
}

.button a{
    text-decoration: none;
    color: var(--white);
}

.button:hover{
    border: 5px solid var(--dark-green);
background: var(--green);
transition: 0.3s ease;

}

.nav_list{
    list-style: none;
    display: none;
    text-align: center;
    font-size: 18px;
}
.nav_list li a{
    padding-right:15px;
    font-style: italic;
    text-decoration: none;
    color: var(--brown);
}

.mobile_list{
    position: absolute;
    display: flex;
    width: 110%;
    background-color: var(--sand);
    margin-left: -15%;
    text-align: center;
    font-size: 26px;
    flex-direction: column;
    padding-top: 20px;
}
.mobile_list li{
    padding-right:0px;
    padding-bottom: 16px;
    text-decoration: none;
}
.mobile_list li a{
    padding-right:0px;
    text-decoration: none;
}

.nav_list li:nth-last-child(1){
    padding-right:0px;
}

.line{
    width: 30px;
    height: 5px;
    background-color: black;
    border-radius: 5px;
    margin-top: 5px;
    transition: 0.3s ease-out;
}


.line:nth-child(1){
    margin: 0;
}



.cross .line:nth-child(1){
    transform: rotate(45deg);
}
.cross .line:nth-child(2){
    display: none;
}
.cross .line:nth-child(3){
    transform: rotate(-45deg) translate(7px, -8px);
}
/* desktop version */
@media screen  and (min-width: 900px) {

    .nav_list{
        list-style: none;
        display: flex;
        position: relative;
        width: 100%;
        background-color: transparent;
        margin-left: 0;
        flex-direction: row;
    }

    .burger_menu, .cross{
        display: none;;
    }

    .nav_list li a{
        padding-right:15px;
        font-style: italic;
        font-size: 18px;
        text-decoration: none;
        color: var(--brown);
    }

    
}
